body {
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr; /* Tres filas: una para el header otra para el main y para aside y main */
	height: 100vh; /* Ajusta la altura de la pantalla completa si es necesario */
    background-color: mediumblue;
  }

  