  #img { 
    width: 300px; /*360 - 324*/
    height: 433px; /*520 - 468*/
  }

  /* Estilos de las tarjetas */
  .card {
    background-color: #ebf5fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }

  .div_vvr {
    margin-right: 30px;
    text-align: right;
  }

  .btn_vvr {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #ffa500;
    color: #000;
    border-radius: 4px;
  }

  #btn_dwld {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #ffa500;
    color: #000;
    border-radius: 4px;
  }