
body {
  background-color: mediumblue;
	  display: grid;
	  grid-template-rows: auto 1fr; /* Dos filas: una para el header otra para el main*/
	  height: 100vh; /* Ajusta la altura de la pantalla completa si es necesario */
  }

  /* Estilos de las tarjetas */
  #card {
    background-color: #ebf5fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }

  #card img {
    width: 100%;
    height: 200px;
  }

  #div-btn {
    display:flex;
    justify-content: end;
    margin-right: 20px;
  }

  #btn {
    display: block;
    max-width: 120px;
    text-decoration: none;
    background-color: #ffa500;
    color: #000;
    border-radius: 4px;
  }

  
  @media (min-width: 768px) {
    #btn {
      margin-right: 15px;    
    }
  }
  
